<div>
  <div class="card-header">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tbody>
        <tr class="ms-WPHeader">
          <td tabIndex=0 title="Information - Use to display your data" style="height: 100%; width: 100%">
            <div class="ms-WPTitle" id="DL_InfoHeader"></div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div>

    <!-- <app-widget-menu #wm [menuData]="data['DL_RelatedActions']" (buttonClick)="onButtonClick($event)"></app-widget-menu> -->
    <table style="width:100%" class="s4-wpTopTable">
      <iframe frameborder="0" scrolling="auto" width="100%" id="DL_Information" name="DL_information" height="530"></iframe>
    </table>
  </div>
</div>
