<div *ngIf="isDataLoaded" class="card mb-3">
  <div class="card-header">
    <span style="float: left">{{data.DL_WebPart}}</span>
    <app-widget-menu #hm [menuDataLoaded]="menuDataLoaded" [view]="data.DL_View" [menuType]="'header'" [page]="data.DL_Page" [menuData]="filterByMenuType('header')" (buttonClick)="onActionClick($event, 1)"></app-widget-menu>
     
  </div>
  <div *ngIf="entityData  && entityData.length > 0;then datacontent else no_datacontent"></div>
  <ng-template #datacontent>
    <div *ngFor="let item of entityData" class="card-block table-responsive">
      <p title="Vis organisationens stamkort...">
        <b>Organisation:</b>
        <ng-template [ngIf]="item.DL_OrganisationShort">
          {{item.DL_OrganisationShort}}/
        </ng-template>

        <a (click)='loadFunction(item.DL_Id)'>{{item.DL_OrganisationTitle}}</a>
      </p>

      <ng-template [ngIf]="item.DL_OrganisationTitle">
        <p>
          <b>Titel:</b> {{item.DL_OrganisationTitle}}
        </p>
      </ng-template>

      <ng-template [ngIf]="item.DL_CVRNR">
        <p>
          <b>CVR:</b> {{item.DL_CVRNR}}
        </p>
      </ng-template>


      <ng-template [ngIf]="item.DL_ParentOrganisation == 'GNYF'">
        <p>
          <b>Moder organisation:</b>
          <a href="/C16/Organisation/default.aspx?DL_Organisation={{item.DL_ParentOrganisation}} | safeUrl">{{entityData.DL_ParentOrganisationDenorm}}</a>
        </p>
      </ng-template>


      <p title="Vis organisationens stamkort...">
        <b>LO-DA tilladt:</b>
        <ng-template [ngIf]="item.DL_Add==1">

          <a (click)='setFunction(item.DL_Id, 0,item.DL_Modified)'>  Slet LO-DA flag</a>
        </ng-template>
        <ng-template [ngIf]="item.DL_Add!=1">

          <a (click)='setFunction(item.DL_Id, 1,item.DL_Modified)'>   Opret LO-DA flag</a>
        </ng-template>

      </p>
      <p>
        <b>Oprettet af:</b> {{item.DL_CreatedBy | extractNameFromADUserName}} {{item.DL_Created | date: 'dd/MM/yy'}}
      </p>
      <p>
        <b>Ændret af:</b> {{item.DL_ModifiedBy | extractNameFromADUserName}} {{item.DL_Modified | date: 'dd/MM/yy'}}
      </p>
    </div>
  </ng-template>
  <ng-template #no_datacontent>
    <div></div>
  </ng-template>
</div>