<div class="card mb-3">
    <div class="card-header"><span style="float:float-left">{{data.DL_WebPart}}</span>
        <span class="float-right">
          <ul class="navbar-nav ml-auto mt-2 mt-md-0">
          <li *ngIf="isMenuLoaded" class="nav-item dropdown" ngbDropdown>
                    <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle>
                        <b class="caret"></b>
                    </a>
                    <div   class="dropdown-menu dropdown-menu-right">

                       <a  class="dropdown-item" *ngFor="let m of menuData" href="{{m['DL_Action']}}" >
                        <img src="m[DL_TableIcon]" alt=""> {{m['DL_Title']}}
                       </a>


                    </div>
                </li>
          </ul>
       </span>
    </div>
    <div class="card-block table-responsive">
        <table *ngIf="isDataLoaded" class="table">
            <thead class="thead-inverse">

                <tbody *ngIf="entityData && entityData.length">
                    <tr *ngFor="let row of entityData">

                        <td><a (click)="goToObject(data.DL_Action)">{{row[data.DL_Column1]}}</a></td>
                        <ng-template [ngIf]="data.DL_Column2">
                            <td><a href="#">{{row[data.DL_Column2]}}</a></td>
                        </ng-template>
                    </tr>

                </tbody>
                <tbody *ngIf="entityData">
                    <tr>

                        <td><a (click)="goToObject(data.DL_Action)">{{entityData[data.DL_Column1]}}</a></td>
                        <ng-template [ngIf]="data.DL_Column2">
                            <td><a href="#">{{entityData[data.DL_Column2]}}</a></td>
                        </ng-template>
                    </tr>

                </tbody>
        </table>
    </div>

</div>