 
<div class="card mb-3">
  <div class="card-header">
    <span style="float:left">{{data.DL_WebPart}}</span>
    <app-dropdown-menu #dd [dataEntityName]="data.DL_Menu" (menuClick)="onMenuClick($event)"></app-dropdown-menu>
  </div>
  <div class="card-block table-responsive">
    <table class="table table-user-information table t" style="width:100%">
      <ng-template [ngIf]="isArray(entityData)">
        <tr *ngFor="let row of entityData">
          <td title="Lav adressen primær..."><a><img src="/EX_Custom/gif/16x16/address.gif" border="0"></a></td>
          <ng-template *ngIf="row.DL_IsPrimaryAddress==1">
            <td title="Lav adressen primær..."><a><img border="0" alt="Slet denne adresse..." src="/EX_Custom/img/12x12/del.gif"></a></td> 
          </ng-template>
         
          <td title="Lav adressen primær..."><a><img src="/EX_Resources/img/16x16/print.gif" border="0"></a></td> 
         
          <td title="Vis adressen..."><a href="#" (click)="gotoObjectWrapper(data.DL_Action1.trim(),row['DL_Id'])">{{row[data.DL_Column1.trim()]}}<img src="/EX_Custom/img/8x8/favorits.gif" border="0" /></a></td>
           
        </tr>
      </ng-template>
      <ng-template [ngIf]="!isArray(entityData)">
        <tr>
          <td title="Lav adressen primær..."><a><img src="/EX_Custom/gif/16x16/address.gif" border="0"></a></td>
          <ng-template *ngIf="entityData.DL_IsPrimaryAddress==1">
            <td title="Lav adressen primær..."><a><img border="0" alt="Slet denne adresse..." src="/EX_Custom/img/12x12/del.gif"></a></td>
          </ng-template>

          <td title="Lav adressen primær..."><a><img src="/EX_Resources/img/16x16/print.gif" border="0"></a></td>

          <td title="Vis adressen..."><a href="#" (click)="gotoObjectWrapper(data.DL_Action1.trim(),row['DL_Id'])">{{entityData[data.DL_Column1.trim()]}}<img src="/EX_Custom/img/8x8/favorits.gif" border="0" /></a></td>

        </tr>
      </ng-template>
    </table>
     
  </div>
  </div>
