<div>
    <p title="Vis organisationens stamkort...">
        <b>Organisation:</b>
        <ng-template [ngIf]="data.DL_OrganisationShort">
            {{data.DL_OrganisationShort}}/
        </ng-template>
        <a href='javascript:loadentity("{{webPart.DL_View}}","{{data.DL_Id}}")'>{{data.DL_OrganisationTitle}}</a>
    </p>

    <ng-template [ngIf]="data.DL_OrganisationTitle">
        <p>
            <b>Titel:</b>
            {{data.DL_OrganisationTitle}}
        </p>
    </ng-template>

    <ng-template [ngIf]="data.DL_CVRNR">
        <p>
            <b>CVR:</b>
            {{data.DL_CVRNR}}
        </p>
    </ng-template>


    <ng-template [ngIf]="DL_ParentOrganisation == 'GNYF'">
        <p>
            <b>Moder organisation:</b>
            <a href="/C16/Organisation/default.aspx?DL_Organisation={{DL_ParentOrganisation}}">{{DL_ParentOrganisationDenorm}}</a>
        </p>
    </ng-template>


    <p title="Vis organisationens stamkort...">
        <b>LO-DA tilladt:</b>
        <ng-template [ngIf]="data.DL_Add==1">
            Slet LO-DA flag
        </ng-template>
        <ng-template [ngIf]="data.DL_Add!=1">
            Opret LO-DA flag
        </ng-template>
        <a href='javascript:loadentity("{{webPart.DL_View}}","{{data.DL_Id}}")'>{{data.DL_OrganisationTitle}}</a>
    </p>
    <p>
        <b>Oprettet af:</b>
        {{data.DL_CreatedBy}}
    </p>
    <p>
        <b>Ændret af:</b>
        {{data.DL_ModifiedBy}}
    </p>
</div>