
<div class="card mb-3">
  <div class="card-header">
    <span style="float: left">{{data.DL_WebPart}}</span>
      <app-dropdown-menu #dd [dataEntityName]="data.DL_Menu" (menuClick)="onMenuClick($event)"></app-dropdown-menu>
  </div>
    <div class="card-block table-responsive">
        <p title="Vis organisationens stamkort...">
            <b>Organisation:</b>
            <ng-template [ngIf]="entityData.DL_OrganisationShort">
                {{entityData.DL_OrganisationShort}}/
            </ng-template>
            <a  (click)="loadFunction(entityData.DL_Id)">{{entityData.DL_OrganisationTitle}}</a>
        </p>

        <ng-template [ngIf]="entityData.DL_OrganisationTitle">
            <p>
                <b>Titel:</b> {{entityData.DL_OrganisationTitle}}
            </p>
        </ng-template>

        <ng-template [ngIf]="entityData.DL_CVRNR">
            <p>
                <b>CVR:</b> {{entityData.DL_CVRNR}}
            </p>
        </ng-template>


        <ng-template [ngIf]="entityData.DL_ParentOrganisation == 'GNYF'">
            <p>
                <b>Moder organisation:</b>
                <a href="/C16/Organisation/default.aspx?DL_Organisation={{entityData.DL_ParentOrganisation}} | safeUrl">{{entityData.DL_ParentOrganisationDenorm}}</a>
            </p>
        </ng-template>


        <p title="Vis organisationens stamkort...">
            <b>LO-DA tilladt:</b>
            <ng-template [ngIf]="entityData.DL_Add==1">
               
              <a  (click)='setEntity(entityData.DL_Id,0)'> Slet LO-DA flag</a>
            </ng-template>
            <ng-template [ngIf]="entityData.DL_Add!=1">
               
              <a  (click)='setEntity(entityData.DL_Id,1)'> Opret LO-DA flag</a>
            </ng-template>
        
           
        </p>
        <p>
            <b>Oprettet af:</b> {{entityData.DL_CreatedBy | extractNameFromADUserName}}
        </p>
        <p>
            <b>Ændret af:</b> {{entityData.DL_ModifiedBy | extractNameFromADUserName}}
        </p>
    </div> 

  </div>